@import url('https://fonts.googleapis.com/css2?family=Alice&family=Roboto+Slab:wght@100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Roboto Slab", serif;
    color: #5E210C;
}

body {
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background: #F5EBDC;
}

::-webkit-scrollbar-thumb {
    background-color: #5E210C;
    border-radius: 20px;
}

header {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

header img {
    width: 100vw;
}

nav {
    background-color: #F5EBDC;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
}

nav img {
    width: 80px;
    position: absolute;
    margin-left: -65vw;
    margin-top: 8vh;
}

nav ul {
    font-size: 15pt;
    font-weight: 900;
    display: flex;
    gap: 60px;
    margin-bottom: -45px;
}

#cardapio {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 15vw;
}

#cardapio .title {
    display: flex;
    justify-content: space-between;
}

#gradeFlex {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 50px;
}

#gradeFlex div {
    border: #F5EBDC 1px solid;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 15vw;
    gap: 15px;
    font-weight: 900;
    font-size: 18pt;
    text-align: center;
}

button {
    margin-bottom: 25px;
}

button {
    font-size: 17px;
    padding: 0.5em 2em;
    border: transparent;
    box-shadow: 2px 2px 4px #F5EBDC;
    background: #5E210C;
    color: white;
    border-radius: 4px;
}

button:hover {
    background: #f0f0f0;
    background: linear-gradient(90deg, #5E210C 0%, #9b2f0b 100%);
}

button:active {
    transform: translate(0em, 0.2em);
}

.img {
    display: flex;
    flex-direction: column;
    background-color: #F5EBDC;
    justify-content: center;
    height: 25vh;
}

#gradeFlex div img.imgM {
    width: 15vw;
    margin-top: 5vh;
}

#gradeFlex div img {
    width: 12vw;
    border-radius: 15px 15px 0 0;
    background-color: #F5EBDC;
}

#tabela {
    width: 100vw;
    height: 450px;
    background-color: #F5EBDC;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 50px;
    margin: 0;
    background-image: url("https://www.burgerking.com.br/images/tabela-nutricional-banner-cardapio-d.jpg");
}

footer {
    background-color: #5E210C;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    padding: 50px;
    text-align: center;
}

footer ul li a, footer div p, footer div ul li i, footer hr{
    color: #F5EBDC;
}

footer hr {
    width: 80vw;
}

footer div ul{
    display: flex;
    gap: 25px;
    font-weight: 600;
}

footer div .nth{
    font-size: 15pt;
    font-weight: 900;
}

footer div.social{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

footer div.social ul{
    font-size: 25pt;
}

footer img {
    width: 75px;
}

.title #filtro button {
    color: #F5EBDC;
}

.title #filtro button i {
    color: #F5EBDC;
}